<form class="mt-4 action-form" method="POST" action="/courses/handle-mycourses-form">

  <div>
    <h3 class="d-inline-block">Khóa học của tôi</h3>
    <a href="/me/trash/courses" class="float-end d-inline-block">Thùng rác ({{deletedCount}})</a>
    <br>
    <a href="/courses/create" class="d-inline-block">Thêm khóa học</a>
  </div>

  <div class="mt-4 d-flex h-select-all-container">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>

    <select class="form-select form-select-sm h-select-all-action" name="action" aria-label="Default select example" required="required">
      <option value="">-- Hành động --</option>
      <option value="delete">Xóa</option>
    </select>

    <button class="exec-btn btn btn-primary btn-sm disabled">Thực hiện</button>
  </div>

  <table class="table mt-2">
      {{#if courses}}
      <thead>
          <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">
                Tên
                {{{sortIconDisplay "name" sortInfo}}}
              </th>
              <th scope="col">
                Chỉnh sửa gần nhất
                {{{sortIconDisplay "updatedAt" sortInfo}}}
              </th>
              <th scope="col"></th>
          </tr>
      </thead>
      {{/if}}
      <tbody>
          {{#each courses}}
          <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="courseIDs[]" value="{{this._id}}">
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.updatedAt}}</td>
              <td>
                  <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                  <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xóa</a>
              </td>
          </tr>
          {{else}}
          <td colspan="5" class="text-center">
            Bạn chưa đăng khóa học nào.
            <a href="/courses/create">Đăng khóa học</a>
          </td>
          {{/each}}
      </tbody>
  </table>
</form>

<!-- Delete course confirmation modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xác nhận xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" id="confirm-delete-btn" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete selected courses confirmation modal -->
<div class="modal fade" id="delete-selected-courses-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Xác nhận xóa khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" id="confirm-delete-selected-btn" class="btn btn-danger">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form name="delete-form" method="POST"></form>

{{!-- Xử lý xóa khóa học --}}
<script>

    var actionForm = document.querySelector('.action-form');

    var checkboxAll = document.querySelector('#checkbox-all');
    var courseItemCheckboxs = Array.from(document.querySelectorAll('input[name="courseIDs[]"]'));
    var execBtn = document.querySelector('.exec-btn');
    var actionSelectElem = document.querySelector('select[name="action"]');

    var delSelectedConfirmModal = $('#delete-selected-courses-modal');
    var modalBody = $('#delete-selected-courses-modal .modal-body');
    var confirmDelSelectedBtn = $('#confirm-delete-selected-btn');

    var delConfirmModal = document.querySelector('#delete-course-modal');
    var confirmDeleteBtn = document.querySelector('#confirm-delete-btn');
    var courseID;

    // Khi modal hiện lên
    delConfirmModal.addEventListener('show.bs.modal', event => {
        var button = event.relatedTarget;
        courseID = button.getAttribute('data-id');
    });

    // Khi nhấn nút xác nhận xóa
    confirmDeleteBtn.onclick = function () {
        var deleteForm = document.forms['delete-form'];
        deleteForm.action = `/courses/${courseID}?_method=DELETE`;
        deleteForm.submit();
    };

    // Nhấn nút chọn tất cả
    checkboxAll.onchange = function () {
      var isCheckedAll = this.checked;
      courseItemCheckboxs.forEach(courseItemCheckbox => {
        courseItemCheckbox.checked = isCheckedAll;
        renderExecBtn();
      });
    };

    // Điều chỉnh nút chọn tất cả
    // khi những nút chọn cho từng khóa học thay đổi
    courseItemCheckboxs.forEach(courseItemCheckbox => {

      courseItemCheckbox.onchange = function () {
        
        var isCheckedAll = courseItemCheckboxs.every(courseItemCheckbox => courseItemCheckbox.checked);
        checkboxAll.checked = isCheckedAll;
        renderExecBtn();
      };
    });

    // điều chỉnh nút thực hiện khi có hoặc không có khóa nào đc chọn
    function renderExecBtn() {
      var isChecked = courseItemCheckboxs.some(courseItemCheckbox => courseItemCheckbox.checked);
      if (isChecked) {
        execBtn.classList.remove('disabled');
      } else {
        execBtn.classList.add('disabled');
      }
    }

    // khi nhấn nút THỰC HIỆN, không thực hiện hành vi mặc định, dựa vào hành động
    // đã được lựa chọn để xử lý
    execBtn.onclick = function (e) {

      e.preventDefault();

      // nếu hành động là XÓA, hiện hộp thoại xác nhận
      if (actionSelectElem.value === "delete") {
        var checkedNum = $('input[name="courseIDs[]"]:checked').length;
        modalBody.append(`<p>Bạn có chắc chắn muốn xóa ${checkedNum} khóa học này?</p>`);
        delSelectedConfirmModal.modal('show');
      }
      // còn lại, validate và submit form
      else {
        if (actionForm.reportValidity()) {
          actionForm.submit();
        }
      }
    };

    // khi hộp thoại xác nhận xóa hiện lên, nếu chọn XÓA -> gửi form xóa các
    // dữ liệu được chọn
    confirmDelSelectedBtn.on('click', () => {
      actionForm.submit();
    });

    // xóa thông báo trong hộp thoại được cho vào khi nó hiện lên
    delSelectedConfirmModal.on('hide.bs.modal', () => {
      modalBody.empty();
    });
</script>