<div class="mt-4">

  <div>
    <h3 class="d-inline">Khóa học đã xóa</h3>
    <a href="/me/courses" class="float-end d-inline">Quay lại</a>
  </div>

  <table class="table">
      {{#if courses}}
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tên</th>
              <th scope="col">Thời gian xóa</th>
              <th scope="col"></th>
          </tr>
      </thead>
      {{/if}}
      <tbody>
          {{#each courses}}
          <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.deletedAt}}</td>
              <td>
                  <a href="" class="btn btn-link restore-btn" data-id="{{this._id}}">Khôi phục</a>
                  <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
              </td>
          </tr>
          {{else}}
          <td colspan="4" class="text-center">
            Thùng rác trống.
          </td>
          {{/each}}
      </tbody>
  </table>
</div>

<!-- Delete course confirmation modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa vĩnh viễn khóa học</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hành động này là không thể khôi phục. Bạn có chắc chắn muốn xóa vĩnh viễn khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" id="confirm-delete-btn" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form --}}
<form name="delete-form" method="POST"></form>

{{!-- restore form --}}
<form name="restore-form" method="POST"></form>

{{!-- Xử lý xóa khóa học --}}
<script>

    var restoreBtns = document.querySelectorAll('.restore-btn');
    var restoreForm = document.forms['restore-form'];

    var delConfirmModal = document.querySelector('#delete-course-modal');
    var confirmDeleteBtn = document.querySelector('#confirm-delete-btn');
    var deleteForm = document.forms['delete-form'];

    var courseID;

    // Khôi phục khóa học
    Array.from(restoreBtns).forEach(restoreBtn => {
      restoreBtn.onclick = function (e) {
        e.preventDefault();
        var targetCourseID = this.getAttribute('data-id');
        restoreForm.action = `/courses/${targetCourseID}/restore?_method=PATCH`;
        restoreForm.submit();
      }
    });

    // Khi modal hiện lên
    delConfirmModal.addEventListener('show.bs.modal', event => {
        var button = event.relatedTarget;
        courseID = button.getAttribute('data-id');
    });

    // Khi nhấn nút xác nhận xóa
    confirmDeleteBtn.onclick = function () {
        deleteForm.action = `/courses/${courseID}/force?_method=DELETE`;
        deleteForm.submit();
    };
</script>